.header {
    top: 0;
    width: 100%;
    text-align: center; /* Выравниваем текст по центру */
    padding-top: 25px;/* Добавляем отступы сверху и снизу */
  }

.heading {
    font-size: 52px;
    text-align: center;
    color: white; 
    text-shadow: 4px 5px 5px #BDFF00;
  }

  