.profileForm {
    width: 550px;
    margin: 20px auto;
    padding: 50px 120px;
    border: 2px solid #ccc;
    border-radius: 10px;
    transform: scale(0.95);
  }
  
  .fields {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .fields div {
    display: flex;
    align-items: center;
  }
  
  .fields label {
    margin-right: 25px;
    white-space: nowrap;
    font-size: 20px;
    font-size: 24px;
  }
  
  .fields input,
  .fields select,
  .fields textarea {
    width: 100%;
    padding: 5px;
    border: 3px solid #ccc;
    background-color: #e9e7e7; 
    color: black;
    font-size: 20px;
    border-radius: 10px;
  }
  
  .fields textarea {
    height: 150px;
  }
  
  .editButton,
  .saveButton {
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
 }

  .saveButton {
    background-color: #b8fb00;
    color: rgb(0, 0, 0);
  }
  
  .editButton {
    background-color: #7B25D0;
    color: white;
  }
  
  .buttonsContainer {
    position: absolute;
    top: 930px; 
    left: 50%;
    transform: translateX(-50%); 
  }

  .red {
    color: rgb(154, 27, 27);
    font-weight: bold;
  }

  .text {
    color: rgb(154, 27, 27);
    font-weight: bold;
    padding-top: 25px;
    padding-right: 300px;
    white-space: nowrap;
  }

  @media (max-width: 1180px) {
    .profileForm {
        transform: scale(0.8);
        width: 290px;
        margin: 0px auto;
        margin-top: -50px;
        padding: 0px 30px;
        border: 0px;
        border-radius: 10px;
      }

      .fields label {
        margin-right: 10px;
        font-size: 18px;
      }

      .fields input,
      .fields select,
      .fields textarea {
        width: 90%;
        padding: 5px;
        font-size: 18px;
        border-radius: 10px;
      }

      .fields {
        flex-direction: column;
        gap: 35px;
      }

      .fields div {
        display: block;
      }
      
      .buttonsContainer {
        position: absolute;
        top: 912px; 
        left: 50%;
        transform: translateX(-50%) scale(0.8); 
      }

      
      .text {
       padding-top: 15px;
      }

  }
  