* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 40px;
}

/* LOGO */
.logo-container {
  position: fixed;
  top: 2%; 
  left: 1%;
  z-index: -1; 
}

@media (max-width: 580px) {
  .logo-container {
    top: 1%; 
    left: 0%; 
    right: 0%; 
  }
  .logo-container img {
    transform: scale(0.7);
  }
}

/* SELECTIONS */
.selection-container {
  position: fixed;
  margin-top: 240px;
  height: 20px;
}

.image-link {
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
}

.overlay-text1, .overlay-text2 {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.overlay-text2 {
  color: white;
}


@media (max-width: 580px) {
  .selection-container {
    position: fixed;
    top: 0%;
    left: 5%;
    display: flex;
    justify-content: center;
    transform: scale(0.6) translateY(-1930%);
    
  }
  
  .image-link {
    position: relative;
    display: inline-block;
    transform:  rotate(90deg);
  }
  
  .overlay-text1, .overlay-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
  }
}
